@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.parallax{
  padding-top: 75vh;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: transparent;
}

.One{
  background-image: url("");
}

#bg-one{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.Two{
  background-image: url("");
}

.Three{
  background-image: url("")
}

.hidden{
  opacity: 0;
}

.fade-in-element{
  animation: fade-in 1s;
}

.fade-in-element-top{
  animation: fade-in-top 1s;
}


.content{
  position: relative;
  z-index: 1;
  color: white;
  background-color: #282c34;
  height: fit-content;
  padding-top: 1%;
  padding-bottom: 4%;
}

.App-link {
  color: #09d3ac;
}

#navbar{
  position: relative;
  background-color: #6F7D8C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 1px 15px black;
  padding-top: 2%;
  padding-bottom: 2%;
  z-index: 1;
}

#navbarName{
  font-family: 'Shadows Into Light', cursive;
  padding-left: 10%;
  align-self: flex-start;
  color: white;
  font-size: 2em;
}

#navbarLinks{
  height: 100%;
  padding-right: 10%;
  align-self: flex-end;
  align-self: center;
}

#navbarLinks img{
  padding-left: 10px;
}

#navbarLinks img:hover{
  cursor: pointer;
  opacity: 0.5;
}

#projectGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card{
  background-color: white;
  color: #282c34;
  width: 80%;
  padding: 5%;
  border-radius: 6px;
}

.card img{
  max-width: 100%;
  border: solid 1px black;
}

.card img:hover{
  cursor: pointer;
  opacity: 0.75;
}

.card a{
  color: #282c34;
  padding: 2%;
}

.card a:hover{
  color: #B0B2B5;
}

.more{
  color: gray;
  text-decoration: underline;
  font-size: 80%;
}

.more:hover{
  cursor: pointer;
  opacity: 0.5;
}

#expandedCard{
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}

#expandedCard img{
  max-width: 50%;
  
}

.technologyList{
  list-style-type: none;
  padding-left: 0;
}

#about{
  margin-left: 10%;
  margin-right: 10%;
}

#skillsList{
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

#skillsList li{
  height: 20vh;
  border: solid 1px white;
  border-radius: 6px;
  margin: 2%;
}

#skillsList li:hover{
  border-color: gray;
}

.rating img{
  color: white;
  max-width: 15%;
  animation: spin 3s linear infinite;
  animation-play-state: paused;
}

#skillsList li:hover > .rating img{
  animation-play-state: running;
}

@keyframes bounce {
  0% {margin-top: 0px;}
  25% {margin-top: -2.5px;}
  50% { margin-top: -5px;}
  75% {margin-top: -2.5px;}
  100%  {margin-top: 0px;}
}

@keyframes spin {
  /* 100% {transform: rotate(1turn);} */
  0% {transform: scale3d(1, 1, 1)}
  10% {transform: scale3d(.9, .9, .9)}
  20% {transform: scale3d(.8, .8, .8)}
  30% {transform: scale3d(.75, .75, .75)}
  40% {transform: scale3d(.8, .8, .8)}
  50% {transform: scale3d(.9, .9, .9)}
  60% {transform: scale3d(1, 1, 1)}
  70% {transform: scale3d(1.1, 1.1, 1.1)}
  80% {transform: scale3d(1.15, 1.15, 1.15)}
  90% {transform: scale3d(1.1, 1.1, 1.1)}
  100% {transform: scale3d(1, 1, 1)}

}

@keyframes fade-in {
  from {opacity: 0; transform: translateY(100px)}
  to {opacity: 1;}
}

@keyframes fade-in-top {
  from {opacity: 0; transform: translateY(-100px)}
  to {opacity: 1;}
}